.facet_filter_title {
    padding-top: 5px;
    padding-bottom: 5px;
}

.facet_attributes {
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom:5px;
    margin-bottom: 5px;
    background-color:#f0f3f5;
}

.top-filter-title {
    background-color: #FF4136 !important;
    color: #fff !important;
}
